<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
